<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TwitchMe!</title>
	<!-- Technologies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/dash.css">
	<script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/filters.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
  <script type="text/javascript" src="js/services.js"></script>
    <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/dash.css">
  <link rel="stylesheet" type="text/css" href="/css/signup.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- <base href="/"> -->
</head>
<body ng-app='angTwitch' class="mainBody">
	<nav class="navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">TwitchMe</a>
        </div>
            <ul class="navbar-nav navbar-right">
              <li><a class="navbar-brand" href="../#/login">Log In</a></li>
              <li><a class="navbar-brand" href="../#/signup">Sign Up</a></li>
              <!-- <li class="twlogo"><a href=""> <img src="../public/images/twitch_burst.png"></a></li> -->
            </ul>
      </div>
  </nav>
	<div ng-view>
	<!-- Angular code -->
	</div>

</body>
</html>