h1, h2, h4 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif;
	color: white;
}
#dashButton {
	width: 150px;
	background-color: #6441a5;
	font-size: 25px;
	color: white;
}

#streamersList{
	margin-left: 20%;
}

.stashButton{
	color: #6441a5;
	display: block;
	margin-left: 15px;
}

.stashButtonDel{
	color: #6441a5;
	display: block;
	margin-left: 30px;

}

iframe {
	margin-left: 5%;
	border: 1px solid #6441a5;
	margin-top: 10px;
}

.row{
	color: white;
}

.rowSearch {
	padding-top: 20px;
	height: 100px;
}
.rowGames {
	padding-top: 20px;
	height: 300px;
}
.subBut {
	
	width: 180px;
	border-radius: 3px;

}
.input-group {
	border-radius: 10px;
	width: 100%;
	opacity: 0.9;
	height: 52px;
}

.input-group-addon {
	height: 50px;
}

img {
	padding-right: 10px;
	padding-top: 5px;
}

.col-md-6 {	
 	margin: 5px;
	border-radius: 10px;
  	padding: 10px; 
  	width: 570px;
  	height: 300px; 
	background-color: black;
	opacity: 0.8;
	border: 1px solid #6441a5;
	font: "verdana", Helvetica, sans-serif, white;
	overflow: scroll;
}

.col-md-11 {
	margin-left: 4%;
	border-radius: 10px;
	padding: 10px; 
	height: 275px; 
	opacity: 0.8;
	background-color: black;
	border: 1px solid #6441a5;
	overflow-x: scroll;
}

.col-xs-6 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif, white;
}

#searchbarBoarder{
	margin-left: 25%;
	margin-right: 25%;
}

.list-inline {
	margin: auto;
	text-align: center;
}

.list-unstyled {
	/*text-align: center;*/
}

#viewersList {
	text-align: center;
}
