h1, h2, h4 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif;
}
#dashButton {
	width: 150px;
	background-color: #6441a5;
	font-size: 25px;
	color: white;
}

.rowSearch {
	padding-top: 20px;
	height: 100px;
}
.rowGames {
	padding-top: 20px;
	height: 300px;
}
.subBut {
	
	width: 180px;
	border-radius: 3px;

}
.input-group {
	border-radius: 10px;
	width: 100%;
	opacity: 0.9;
	height: 52px;
}

.input-group-addon {
	height: 50px;
}

img {
	padding-right: 10px;
	padding-top: 5px;
}

.col-md-6
{
	
	margin: 5px;
	border-radius: 10px;
  	padding: 10px; 
  	width: 570px;
  	height: 300px; 
	/*border: 3px solid blue;*/
	background-color: black;
	opacity: 0.8;
	font: "verdana", Helvetica, sans-serif, white;
}

.col-md-12
{
	margin: 5px;
	border-radius: 10px;
	padding: 10px; 
	/*width: auto;*/
	height: 180px; 
	background-color: black;
	border: 3px solid black;
	opacity: 0.8;
}

.col-xs-6 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif, white;
}

#searchbarBoarder{
	margin-left: 25%;
	margin-right: 25%;
}