.signup {
	height: 400px;
	background-color: black;
	opacity: .7;
	border-radius: 15px;
   	border-color: #6441a5;
   	margin-left: 33%;
   	margin-right: 33%;
}

input {
	border-color: #6441a5;	
	border-radius: 15px; 
	background-color: black;
	opacity:.7;
	width: 350px;
	height: 50px;
	font-color: #6441a5;
	margin-bottom: 5px;
	margin-left: 22px;
	color:white;
}

#searchTwitch{
	margin-left: 0px;
}

#signupButton {
	padding-top: 5px;
	align-content: center;
	width: 320px;
	height: 40px;
	background-color: #6441a5;
	font-size: 25px;
	color: white;
	margin-left: 42px;
}

.twitch-connect {
	align: center;
	margin-left: 117px;
}