body {

  padding: 70px;
  font: 14px "verdana", Helvetica, sans-serif;

  background-image: url("../images/landing1440.jpg");
}

.wrapper {
	height: 400px;
	margin-left: 0%;
	background-color: black;
	opacity: .9;
   	border-style: double;
   	border-color: #6441a5;
   	margin-right: 33%;
   	margin-left: 33%;
}


.form-group {
	border-color: #6441a5;
	border-width: 3px;
	border-radius: 15px; 
	background-color: black;
	opacity: .7;
	width: 350px;
	height: 50px;
	font-color: #6441a5;
	margin-bottom: 10px;
}

#loginButton {
	padding-top: 5px;
	align-content: center;
	width: 320px;
	height: 40px;
	background-color: #6441a5;
	margin-left: 38px;
	font-size: 25px;
	color: white;
}