body {

  padding: 50px;
  font: 14px "verdana", Helvetica, sans-serif;

  background-image: url("../images/dashboard1920.jpg");

}

a {
  color: #00B7FF;
}

h1, h2 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif;
}

.row {
	padding-top: 20px;
	height: 300px;
}
.subBut {
	
	width: 180px;
	border-radius: 3px;

}
.input-group {
	/*margin-top: 15px;
  	padding-top: 10px; 
	border: 3px solid blue;
	background-color: black;*/
	border-radius: 10px;
	width: 100%;
	opacity: 0.9;

}

img {
	padding-right: 10px;
	padding-top: 5px;
}

.col-md-6
{
	
	margin: 5px;
	border-radius: 10px;
  	padding: 10px; 
  	width: 575px;
  	height: 100%; 
	/*border: 3px solid blue;*/
	background-color: black;
	opacity: 0.8;
	font: "verdana", Helvetica, sans-serif, white;
}

.col-md-12
{
	margin: 5px;
	border-radius: 10px;
	padding: 10px; 
	/*width: auto;*/
	height: 150px; 
	background-color: black;
	border: 3px solid black;
	opacity: 0.8;
}

.col-xs-6 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif, white;
}