body {

  padding: 50px;
  font: 14px "verdana", Helvetica, sans-serif;

  background-image: url("../images/dashboard1920.jpg");

}

a {
  color: #00B7FF;
}

h1, h2 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif;
}

.navbar-header {
	padding-top: 20px;
}

.row {
	padding-top: 40px;
	height: 300px;
}

.input-group {
	margin-top: 10px;
	border-radius: 20px;
  	padding-top: 20px; 
	border: 3px solid white;
	background-color: black;
	width: 100%;
	opacity: 0.8;

}

img {
	padding-right: 10px;
	padding-top: 5px;
}
.col-md-3
{
	margin: 5px;
	border-radius: 20px;
  	padding: 10px; 
  	/*width: auto;*/
  	height: 100%; 
	border: 3px solid black;
	background-color: black;
	opacity: 0.8;
	font: "verdana", Helvetica, sans-serif, white;
}

.col-md-6
{
	margin: 5px;
	border-radius: 20px;
	padding: 10px; 
	/*width: auto;*/
	height: 100%; 
	background-color: black;
	border: 3px solid black;
	opacity: 0.8;
}

.col-xs-6 {
	text-align: center;
	font: "verdana", Helvetica, sans-serif, white;
}