<div>
  <div class="container"> 
    <div class="row">
      <form action="/dashboard/search" method="get" id='searchbarBoarder'>
         <!--  <div class="col-md-3"></div -->
          <div class="input-group input-group-lg col-xs-6" id="searchbar">
            <span class="input-group-addon"><img src="../images/Twitch-Icon.png" height="30px"></span>
            <input type="text" ng-model="searchData" style="height: 52px;" class="form-control" id="searchTwitch" placeholder="Get yer game on..." >
            <span class="input-group-btn">
              <button class="btn btn-lg" id="dashButton" style="height: 52px;" ng-click="searchTwitch()" type="button">Find it!</button>
            </span>            
          </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- LEFT PANEL -->
      <div class="col-md-6"><h4>Add games My Stash!</h4>
        <ul class="list-inline"> 
          <!-- DEFAULT VIEW OF TOP GAMES -->
          <li ng-if="!display.searchQuery" ng-repeat="popGame in display.popGames">
            <img ng-click="getStreamers(popGame.game.name)" ng-src="{{popGame.game.box.medium}}">
            <button ng-click='getFav(popGame)' class='stashButton'>Add to Stash</button>
          </li>
          <!-- AFTER QUERY -->
          <li ng-if="display.searchQuery" ng-repeat="query in display.queryGames">
            <img ng-click="getStreamers(query.name)" ng-src="{{query.box.medium}}">
            <button ng-click='getFav(query)' class='stashButton'>Add to Stash</button>
          </li>
        </ul>
      </div>
      <!-- RIGHT PANEL -->
      <div class="col-md-6">           
        <div class="col-xs-8"><h4>Who's Streaming</h4>
          <ul class= "list-unstyled">  
            <!-- DEFAULT VIEW OF TOP STREAMERS -->                   
            <li ng-if="!display.searchQuery" ng-repeat="popStreamer in display.popStreamers">
              <img ng-click="getStream(popStreamer.channel.name)" ng-src="{{popStreamer.preview.small}}">{{popStreamer.channel.display_name}}
           </li>
            <!-- AFTER QUERY -->
            <li ng-if="display.searchQuery" ng-repeat="query in display.queryStreamers">
              <img ng-click="getStream(query.channel.name)" ng-src="{{query.preview.small}}">{{query.channel.display_name}}
            </li>
          </ul>
        </div>
        <div class="col-xs-4"><h4>Viewers</h4>
          <ul class= "list-unstyled">
              <br>                    
              <li ng-if="!display.searchQuery" ng-repeat="popViewer in display.popStreamers">{{popViewer.viewers}}
              <br><br><br>
              <li ng-if="display.searchQuery" ng-repeat="query in display.queryStreamers">{{query.viewers}}
              <br><br><br>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-11"><h4>My Stash</h4>
        <img src=""/>
        <ul class="list-inline">
          <li ng-repeat="stashGame in stashGames"><img ng-click="getStreamers(stashGame.name)" ng-src='{{stashGame.img}}'></li>
        </ul>     
  </div>
  <div ng-bind-html="twitchIframe"></div>  
</div>