<div ng-controller="DashboardController" >
  <div class="container"> 
    <div class="row">
      <form action="/dashboard/search" method="get" id='searchbarBoarder'>
         <!--  <div class="col-md-3"></div -->
          <div class="input-group input-group-lg col-xs-6" id="searchbar">
            <span class="input-group-addon"><img src="../images/Twitch-Icon.png" height="30px"></span>
            <input type="text" ng-model="searchData" style="height: 52px;" class="form-control" id="searchTwitch" placeholder="Get yer game on..." >
            <span class="input-group-btn">
              <button class="btn btn-lg" id="dashButton" style="height: 52px;" ng-click="searchTwitch()" type="button">Find it!</button>
            </span>            
          </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline"> 
          <li ng-if="!searchQuery" ng-repeat="popGame in popGames"><img ng-src="{{popGame.game.box.medium}}"></li>
          <li ng-if="searchQuery" ng-repeat="query in searchQuery"><img ng-src="{{query.box.medium}}"></li>
        </ul>
      </div>
      <div class="col-md-6">           
        <div class="col-xs-8"><h4>Who's on</h4>
          <ul class= "list-unstyled">                     
            <li ng-if="!searchQuery" ng-repeat="popStreamer in popStreamers"><img src="{{popStreamer.preview.small}} {{popStreamer.channel.display_name}}"></li>
            <li ng-if="searchQuery" ng-repeat="query in searchQuery"><img src="{{query.preview.small}} {{query.channel.display_name}}"></li>
          </ul>
        </div>
        <div class="col-xs-4"><h4>Tuned in</h4>
          <ul class= "list-unstyled">
              <br>          
              <br>          
              <!-- streams.forEach(function(stream) -->
              <li ng-repeat="popViewer in popViewers">{{popViewer.viewers}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-12"><h4>My Stash</h4>
        
        <img src=""/>
        <ul class="list-inline">
            
        </ul>     
  </div>
</div>