<!-- Signup box -->
<div class="signup">
	<h1>Sign Up</h1>	
	<div class="col-sm-12">
		
			<form action="/signup" method="POST">       
			    <input type="text" name="name" placeholder="Username" required="" autofocus=""/>
			    <input type="text" name="email" placeholder="Email" required="" autofocus=""/>
			    <input type="password" name="password" placeholder="Password" required=""/>     
			    <input type="password" name="confirm" placeholder="Confirm Password" required=""/>
			    <button id="signupButton" class="btn btn-lg" type="submit">Register</button>
			</form>
			     <a href="/auth/twitch"><img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect"/></a>

	</div>	
</div>
