<!-- Login box -->
<div>
	<div class="col-sm-4"></div>
	<div class="col-sm-4 signup">	
		<form action="/signup" method="POST">       
		    <input type="text" name="name" placeholder="User Name" required="" autofocus=""/>
		    <input type="text" name="email" placeholder="Email Address" required="" autofocus=""/>
		    <input type="password" name="password" placeholder="Password" required=""/>     
		    <input type="password" name="confirm" placeholder="Confirm Password" required=""/>
		    <button class="btn btn-lg" type="submit">Sign Up</button>
		</form>
		     <img ng-click="twitchLogin('twitch')" src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" />
	</div>
	<div class="col-sm-4"></div>
</div>
